<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.2glab.cordova.Echo"
    version="0.0.1">

  <name>Echo</name>
  <description>Example of broken cordova plugin threading in ios 11</description>
  <license>Apache 2.0</license>
  <keywords>ios 11, threading</keywords>
  <issue>https://github.com/shaliko/cordova-plugin-threading/issues</issue>

  <platform name="ios">
      <config-file target="config.xml" parent="/*">
          <feature name="Echo">
              <param name="ios-package" value="Echo" />
          </feature>
      </config-file>

      <js-module src="www/Echo.js" name="Echo">
          <clobbers target="navigator.Echo" />
      </js-module>

      <header-file src="src/ios/Echo.h" />
      <source-file src="src/ios/Echo.m" />

  </platform>

</plugin>
