<platform name="ios">
    <config-file target="config.xml" parent="/*">
        <feature name="Echo">
            <param name="ios-package" value="Echo" />
        </feature>
    </config-file>

    <js-module src="www/Echo.js" name="Echo">
        <clobbers target="navigator.Echo" />
    </js-module>

    <header-file src="src/ios/Echo.h" />
    <source-file src="src/ios/Echo.m" />

</platform>
